/* @media screen and (max-width: 900px) and (min-width: 600px) {} */
.maintitle {
  letter-spacing: '2%';
  line-height: '49px';
}

@media screen and (max-width: 1023.5px) {
  .maintitle {
    letter-spacing: '2%';
    line-height: '38px';
  }
}
