.bannerbg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url('../../public/assets/images/webp/web_header_v2.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: 'fixed';
}

@media screen and (max-width: 639.5px) {
  .bannerbg {
    background-image: url('../../public/assets/images/webp/kv-mobile-banner.webp');
    background-position: 95% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
}

.gradientTitle {
  background: linear-gradient(
    to right,
    rgba(27, 191, 220, 1) 1%,
    rgba(251, 199, 2, 1) 100%,
    rgba(255, 255, 255, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
