.contactbg {
  background-image: url('../../public/assets/images/contactyellowbg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 1023.5px) {
  .contactbg {
    background-image: url('../../public/assets/images/webp/brush.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
