.contactbg {
  background-image: url('../../public/assets/images/webp/contactyellowbg.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 1023.5px) {
  .contactbg {
    background-image: url('../../public/assets/images/webp/brush.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1400px) {
  .marginLeft112 {
    margin-left: 3rem;
  }
}
@media screen and (min-width: 1510px) {
  .marginLeft112 {
    margin-left: 5rem;
  }
}
@media screen and (min-width: 1620px) {
  .marginLeft112 {
    margin-left: 7rem;
  }
}
@media screen and (min-width: 1620px) {
  .marginLeft112 {
    margin-left: 9rem;
  }
}