@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
/* 
font-family: 'plus_jakarta_sansregular';
font-family: 'druk_wide_webmedium';
font-family: 'modular14';
font-family: 'satoshi';
font-family: 'Trade Gothic LT Std';
font-family: 'Manrope';
font-family: 'Poppins', sans-serif;
*/

@import url('https://fonts.cdnfonts.com/css/trade-gothic-lt-std');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
  font-family: 'plus_jakarta_sansregular';
  src: url('../../public/assets/fonts/jakarta/plusjakartasans-variablefont_wght-webfont.eot');
  src: url('../../public/assets/fonts/jakarta/plusjakartasans-variablefont_wght-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/assets/fonts/jakarta/plusjakartasans-variablefont_wght-webfont.woff2')
      format('woff2'),
    url('../../public/assets/fonts/jakarta/plusjakartasans-variablefont_wght-webfont.woff')
      format('woff'),
    url('../../public/assets/fonts/jakarta/plusjakartasans-variablefont_wght-webfont.svg#plus_jakarta_sansregular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'druk_wide_webmedium';
  src: url('../../public/assets/fonts/drukwideweb/druk_wide_web_medium_regular-webfont.eot');
  src: url('../../public/assets/fonts/drukwideweb/druk_wide_web_medium_regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/assets/fonts/drukwideweb/druk_wide_web_medium_regular-webfont.woff2')
      format('woff2'),
    url('../../public/assets/fonts/drukwideweb/druk_wide_web_medium_regular-webfont.woff')
      format('woff'),
    url('../../public/assets/fonts/drukwideweb/druk_wide_web_medium_regular-webfont.ttf')
      format('truetype'),
    url('../../public/assets/fonts/drukwideweb/druk_wide_web_medium_regular-webfont.svg#druk_wide_webmedium')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'modular14';
  src: url('../../public/assets/fonts/modular/modular-14-webfont.eot');
  src: url('../../public/assets/fonts/modular/modular-14-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/assets/fonts/modular/modular-14-webfont.woff2')
      format('woff2'),
    url('../../public/assets/fonts/modular/modular-14-webfont.woff')
      format('woff'),
    url('../../public/assets/fonts/modular/modular-14-webfont.ttf')
      format('truetype'),
    url('../../public/assets/fonts/modular/modular-14-webfont.svg#modular14')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'satoshi';
  src: url('../../public/assets/fonts/satoshi/satoshi-regular-webfont.eot');
  src: url('../../public/assets/fonts/satoshi/satoshi-regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/assets/fonts/satoshi/satoshi-regular-webfont.woff2')
      format('woff2'),
    url('../../public/assets/fonts/satoshi/satoshi-regular-webfont.woff')
      format('woff'),
    url('../../public/assets/fonts/satoshi/satoshi-regular-webfont.ttf')
      format('truetype'),
    url('../../public/assets/fonts/satoshi/satoshi-regular-webfont.svg#falsenormal')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'font-awesome';
  src: url('../../public/assets/fonts/fa/fa-solid-900.ttf') format('truetype'),
    url('../../public/assets/fonts/fa/fa-solid-900.woff2') format('woff2');
}

html,
body {
  scroll-behavior: smooth;
}

.glass {
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(14.5px);
}

.scrollToTop {
  position: relative;
}
.scrollToTop::after {
  font-family: 'font-awesome';
  position: fixed;
  bottom: 5px;
  right: 10px;
  color: #ff9a3d;
  display: block;
  content: '\f062';
  font-size: 30px;
  z-index: 999;
  cursor: pointer;
  animation: toTop 2s linear 2s infinite backwards;
}

@keyframes toTop {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

/* @media only screen and (max-width: 1023.5px) {
  [data-aos] {
    opacity: 1 !important;
    transform: none !important;
  }
} */

/* responsive classes */
.main-container {
  @apply w-full mx-auto px-2;
}
@media (min-width: 576px) {
  .main-container {
    max-width: 540px !important;
  }
}
@media (min-width: 768px) {
  .main-container {
    max-width: 720px !important;
  }
}
@media (min-width: 992px) {
  .main-container {
    max-width: 970px !important;
  }
}
@media (min-width: 1200px) {
  .main-container {
    max-width: 1170px !important;
  }
}
@media (min-width: 1400px) {
  .main-container {
    max-width: 1320px !important;
  }
}

/* ----------- css for slider ------------- */
button.splide__arrow.splide__arrow--next {
  top: 94% !important;
  right: 2rem !important;
}
button.splide__arrow.splide__arrow--prev {
  display: none !important;
}
.splide__pagination {
  counter-reset: pagination-num;
  display: flex !important;
  justify-content: flex-start !important;
  width: 50% !important;
  margin-left: 28px !important;
  bottom: 1.5rem !important;
}

.splide__pagination__page:before {
  counter-increment: pagination-num;
  content: counter(pagination-num);
}
.splide__pagination__page.is-active {
  background: none !important;
  color: #ff9a3d !important;
}

.splide__pagination__page {
  background: none !important;
  color: rgb(46, 46, 43) !important;
}
.splide__pagination li {
  margin-right: 40px !important;
}

.splide__track--nav > .splide__list > .splide__slide.is-active {
  opacity: 1 !important;
  border: unset !important;
  transition: all 0.5s ease-in !important;
}
.splide__track--nav > .splide__list > .splide__slide {
  opacity: 0.5 !important;

  border: unset !important;
}

@media screen and (max-width: 640px) {
  .splide {
    padding: 20px !important;
  }
  button.splide__arrow.splide__arrow--next {
    top: 18.8rem !important;
    right: 7rem !important;
  }
  button.splide__arrow.splide__arrow--prev {
    top: 19rem;
    left: 7rem;
    display: block !important;
  }
}
